@import "../../../../../scss/variables";
.hotel-list-container {
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    text-align: center;
  }

  width: 100%;
  padding: 0 40px;
}

.hotel-list-card {
  position: relative;
  width: 100%;
  max-width: 837px;
  height: 318px;
  background: #ffffff;
  box-shadow: 2px 1px 5px rgba(0, 0, 0, 0.33);
  float: right;
  margin: 26px 0;
  padding: 36px 16px;
  text-align: left;

  border-radius: 5px;

  h5 {
    color: $primary-color;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0;
  }

  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #B5B5B5;
    margin: 15px 0;
  }

  button {
    margin-top: 20px;
  }

  button + button {
    margin-left: 20px;
  }
}

.hotel-card-image {
  position: absolute;
  left: -60px;
  z-index: 9999;
  border-radius: 5px;
  box-shadow: -2px 1px 2px rgba(0, 0, 0, 0.33);
}

.hotel-card-content {
  width: 100%;
  max-width: 420px;
  float: right;
}

.hotel-card-price {
  margin-left: 20px;
  float: right;
  border-left: 1px solid #B5B5B5;
  height: 240px;
  width: 100%;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &::before {
    content: 'Total';
    display: block;
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #B5B5B5;
  }

  span {
    color: $green;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
}

.hotel-starts-list {
  list-style: none;
  padding: 0;

  li {
    display: inline-block;
  }

  li + li {
    margin-left: 10px;
  }

  .hotel-start:after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    background: url('http://www.raphaelfabeni.com.br/rv/test-resources/svg/star-filled.svg') no-repeat;
  } 
}

.hotel-list-card-chart-wrapper {
  width: 100%;
  padding-left: 180px;
  position: relative;

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 552px;
  }
  h5 {
    display: inline-block;
  }
  button {
    display: inline-block;
    font-family: 'Heebo', sans-serif;
    font-size: 12px;
    background: transparent;
    border: none;
    outline: none;

    cursor: pointer;

    padding-left: 28px;
    margin: 15px 0;

    position: relative;
    
    &:before {
      content: ' ';
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 34px;
      height: 14px;
      background: url('http://www.raphaelfabeni.com.br/rv/test-resources/svg/back-description.svg') no-repeat;
    }
  }
}

.hotel-list-card-chart-container {
  width: 100%;
  max-width: 552px;
  height: 164px;
  border-bottom: 2px solid #D8D8D8;

  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;

  div {
    width: 27px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background: linear-gradient(#EE6F48, #F98100);
  }
}